<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BasaBari.com | Proceed to Order</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/Contents/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/Contents/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/Contents/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/Contents/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/Contents/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<style>
.side-bar {
    border: 1px solid black;
    margin-top: 00px;
    margin-right: 85%;
    margin-left: 0px;

}
.body{
	background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 15%;
}


</style>

    <style>
.side-bar {
    border: 1px solid black;
    margin-top: 00px;
    margin-right: 85%;
    margin-left: 0px;

}
.body{
	background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 15%;
}
 .img {
                border: 1px solid #ddd;
                border-radius: 10px;
                padding: 10px;
				margin:3px;
                width: 300px;
				height:150px;
            }
</style>

<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

  <%- include partial/UserHeaderWithoutSidebar.ejs %>

  <div class="box box-primary" style="background-color: white; font-family:times-new-roman" >



		<table border="0"  height="100%" width="100%">
			<tr  height="15%">
			    <td  width="40%">

				</td>
			</tr>
			<tr>
				<td><hr/></td>
			</tr>
			<tr height="70%">
				<td>
					<table border="0">
					    <tr>
						    <td width="7%"></td>
						    <td width="60%">
								<table border="0" height="100%" width="100%" >

									<tr>

									    <td>
										  <br/>
										  <h2><b>Rent: Tk <%=result[0].Rent%>/month</b></h2>
                      <h4><b><%=result[0].Location%></b></h4>
                      <h4><b>Total View: <%=result[0].TotalView%></b></h4>
                      <a href='/HouseDetails/map/<%=result[0].Id%>' class=" fa fa-location-arrow" style="cursor: pointer"> View in Map</a>
                        <hr>
                      <hr>
										  <br/>
										   <img style="border-radius: 7px;" src="/Contents/image/house/<%=result[0].TitleImage%>" height="350" width="800">

										  <br/>

										  <br/>

										</td>
									</tr>
									<tr>

									</tr>

								</table>
						    </td>
						    <td width="3%"><hr width="1" size="1000"></td>


                  <%if(signedInUser != result[0].UserName.toLowerCase()){%>

                    <td width="31%" style="position: fixed; margin-top: 4%">
                        <center><button onclick="Book('<%=result[0].Id%>')" class="btn btn-primary" style="width: 100px;height: 50px ;font-size: 20px;">BOOK</button></center>
                        <br><br><br>
                        <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">Contact Property</h3>
                        </div>

                        <div class="box-header with-border">
                          <br><h3 class="box-title"><b>Phone# <%=result[0].Phone%></b></h3><br><br>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                          <div class="box-body">

                              <div class="col-sm-10">
                                  Write message in the text area
                                <textarea class="form-control" id="message" width="100%"></textarea>
                              </div>
                              <br><br><br><br><br>
                              <button type="submit" class="btn btn-primary pull-right">Send</button>
                            </div>

                        </form>
                      </div>
                    </td>
                    <%}

                    else{%>
                      <td width="31%" style="position: fixed; margin-top: 12%">
                        <center><button onclick="DeletePost('<%=result[0].Id%>')" class="btn btn-danger btn-block" style="width: 100px;height: 50px ;font-size: 20px;">Delete</button></center>

                    </td>

                  <%}%>


					    </tr>
					</table>
				</td>
                <td width="2%"></td>
			</tr >



		</table>


      <div style="margin-left: 7%;margin-right: 50%">
        <br>

        <h4><b>House Name: </b> <%=result[0].HouseName%><br>
        <b>House Number: </b> <%=result[0].HoldingNumber%><br></h4>

        <br><br><br>


            <div class="box">
            <div class="box-header">
              <h3 class="box-title">Overviews</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td>House Type    </td>
                  <td><span class="badge bg-light-blue pull-right"><%=result[0].HouseType%></span></td>
                </tr>
                <tr>
                  <td>Bed Room</td>
                  <td><span class="badge bg-light-blue pull-right"><%=result[0].BedRoom%></span></td>
                </tr>
                <tr>
                  <td>Bath Room</td>
                  <td><span class="badge bg-light-blue pull-right"><%=result[0].BathRoom%></span></td>
                </tr>
                <tr>
                  <td>Area</td>
                  <td><span class="badge bg-light-blue pull-right"><%=result[0].Area%></span></td>
                </tr>
                 <tr>
                  <td>Balcony</td>
                  <td><span class="badge bg-light-blue pull-right"><%=result[0].Balcony%></span></td>
                </tr>
                <tr>
                  <td>Drawing</td>
                  <td><span class="badge bg-light-blue pull-right"><%=result[0].Drawing%></span></td>
                </tr>
                <tr>
                  <td>Dining</td>
                  <td><span class="badge bg-light-blue pull-right"><%=result[0].Dining%></span></td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>

      </div>

        <br><br><br>
        <div style="margin-left: 6%;margin-right: 50%">

            <div class="box">
            <div class="box-header">
              <h3 class="box-title">Facilities</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td>Parking</td>
				  <%if(result[0].Parking==0){%>
					<td><span class="badge bg-red pull-right pull-right">No</span></td>
				  <%}
				  else{%>
					<td><span class="badge bg-green pull-right pull-right">Yes</span></td>
					<%}%>

                </tr>
                <tr>
                  <td>Lift</td>
				  <%if(result[0].Lift==0){%>
					<td><span class="badge bg-red pull-right pull-right">No</span></td>
				  <%}
				  else{%>
					<td><span class="badge bg-green pull-right pull-right">Yes</span></td>
					<%}%>
                </tr>
                <tr>
                  <td>Gas</td>
				  <%if(result[0].Gas==0){%>
					<td><span class="badge bg-red pull-right pull-right">No</span></td>
				  <%}
				  else{%>
					<td><span class="badge bg-green pull-right pull-right">Yes</span></td>
					<%}%>
                </tr>
                <tr>
                  <td>Generator</td>
				  <%if(result[0].Generator==0){%>
					<td><span class="badge bg-red pull-right pull-right">No</span></td>
				  <%}
				  else{%>
					<td><span class="badge bg-green pull-right pull-right">Yes</span></td>
					<%}%>
                </tr>
                 <tr>
                  <td>Internet</td>
                  <%if(result[0].Internet==0){%>
					<td><span class="badge bg-red pull-right pull-right">No</span></td>
				  <%}
				  else{%>
					<td><span class="badge bg-green pull-right pull-right">Yes</span></td>
					<%}%>
                </tr>
                <tr>
                  <td>Intercom</td>
                  <%if(result[0].Intercom==0){%>
					<td><span class="badge bg-red pull-right pull-right">No</span></td>
				  <%}
				  else{%>
					<td><span class="badge bg-green pull-right pull-right">Yes</span></td>
					<%}%>
                </tr>
              </tbody></table>

            </div>

            <!-- /.box-body -->
          </div>

          <br><br>
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-sticky-note"></i>

              <h3 class="box-title">Special Note</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <dl>
				          <%=result[0].SpecialNote%>

              </dl>
            </div>
            <!-- /.box-body -->

          <!-- /.box -->
        </div>

      </div>
      <br/><br>


        <h3 style="margin-left: 6%">Availabe in nearby</h3>
        <table style="margin-left: 6%">
        <tr>
            <td width="300">
              <a href="ProceedToOrder"><img src="/Contents/image/graphics1.jpg" class="img"></a>
             <br>

            <img src="/Contents/image/user-avatar.jpg" width="50">
            <br/>
                shahadatraaz
            <br/>
                Tk 20000/month
            <br/>
                Gulshan,Dhaka
            <br/>
                2 Bed, 2 Washroom
            </td>
            <td width="300">
            <img src="/Contents/image/graphics2.jpg" class="img">
             <br>

            <img src="/Contents/image/user-avatar.jpg" width="50">
            <br/>
                rezabd
            <br/>
                Tk Based on negotiate
            <br/>
                Banani,Dhaka
            <br/>
                2 Bed, 1 Washroom
            </td>

        </tr>
    </table>

	</div>

	<div id="ConfirmationMassage"></div>

  <!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
    <strong>Copyright &copy; 2017-2018 <a href="/home">BasaBari.com</a>.</strong> All rights
    reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="/Contents/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/Contents/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/Contents/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/Contents/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/Contents/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/Contents/dist/js/demo.js"></script>
</body>
</html>

<style>
        textarea
        {
            resize: none;
            overflow: hidden;
        }
    </style>
    <script>
        var textarea = null;
        window.addEventListener("load", function() {
            textarea = window.document.querySelector("textarea");
            textarea.addEventListener("keypress", function() {
                if(textarea.scrollTop != 0){
                    textarea.style.height = textarea.scrollHeight + "px";
                }
            }, false);
        }, false);
    </script>

<script type="text/javascript">


  function ConfirmBoook(id)
  {
    var url = "/booking/"+id;
    document.getElementById("ConfirmationMassage").innerHTML="";
    window.location.href = url;
  }
  function hide()
  {
    document.getElementById("ConfirmationMassage").innerHTML="";
  }
  function ConfirmDelete(id)
  {
    var url = "/deletePost/"+id+"/"+"<%=result[0].UserName%>";
    document.getElementById("ConfirmationMassage").innerHTML="";
    window.location.href = url;
  }

  function Book(id)
  {
    document.getElementById("ConfirmationMassage").innerHTML=""+
    "<div class='modal modal-info fade in' id='modal-info' style='display: block; padding-right: 17px;'>"+
      "<div class='modal-dialog'>"+
      "<div class='modal-content'>"+
        "<div class='modal-header'>"+
        "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>"+
          "<span aria-hidden='true' onclick='hide()'>×</span></button>"+
        "<h4 class='modal-title'>Confirmation</h4>"+
        "</div>"+
        "<div class='modal-body'>"+
        "<p><h3>Do you want to Book?</h3></p>"+
        "</div>"+
        "<div class='modal-footer'>"+
        "<button type='button' class='btn btn-outline pull-left' data-dismiss='modal' onclick='hide()'>Cencel</button>"+
        "<button type='button' class='btn btn-outline'  onclick='ConfirmBoook("+id+")'>Book</button>"+
        "</div>"+
      "</div>"+
      "<!-- /.modal-content -->"+
      "</div>"+
      "<!-- /.modal-dialog -->"+
    "</div>";
  }


  function DeletePost(id)
  {
    document.getElementById("ConfirmationMassage").innerHTML=""+
    "<div class='modal modal-info fade in' id='modal-info' style='display: block; padding-right: 17px;'>"+
      "<div class='modal-dialog'>"+
      "<div class='modal-content'>"+
        "<div class='modal-header'>"+
        "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>"+
          "<span aria-hidden='true' onclick='hide()'>×</span></button>"+
        "<h4 class='modal-title'>Confirmation</h4>"+
        "</div>"+
        "<div class='modal-body'>"+
        "<p><h3>Do you want to Delete?</h3></p>"+
        "</div>"+
        "<div class='modal-footer'>"+
        "<button type='button' class='btn btn-outline pull-left' data-dismiss='modal' onclick='hide()'>Cencel</button>"+
        "<button type='button' class='btn btn-outline'  onclick='ConfirmDelete("+id+")'>Delete</button>"+
        "</div>"+
      "</div>"+
      "<!-- /.modal-content -->"+
      "</div>"+
      "<!-- /.modal-dialog -->"+
    "</div>";
  }

</script>
